version: '3.9'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: app-container
    ports:
      - "3000:3000"
    environment:
      # Environment variables to configure Redis and PostgreSQL
      REDIS_HOST: redis
      REDIS_PORT: 6379
      POSTGRES_HOST: postgres
      POSTGRES_PORT: 5432
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    depends_on:
      - redis
      - postgres
    networks:
      - app-network

  redis:
    image: redis:7.4.1-alpine
    container_name: redis-container
    ports:
      - "6379:6379"
    networks:
      - app-network

  postgres:
    image: postgres:17-alpine
    container_name: postgres-container
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    networks:
      - app-network

networks:
  app-network:
    driver: bridge